.DS_Store
*.jld
*.nc
nohup.out
progress.txt
parameter.txt
*.png
*.jld2
old_scripts/integrate_to_advectioncoriolis.txt
old_scripts/ghost_points_only.jl
old_scripts/for_enzymefolks.jl
old_scripts/for_debugging.jl
old_scripts/first_error_found.jl
old_scripts/debugging_process_090623.jl
old_scripts/advection_coriolis_withPVwrittenout.txt
old_scripts/advection_coriolis_withPV.txt
old_scripts/advection_coriolis_only.jl
old_outputs/output_with_feedback.txt
old_outputs/minimizing_error1.txt
old_outputs/minimizing_error.txt
old_outputs/integrate_to_urhs.txt
old_outputs/ghost_points_only_output3.txt
old_outputs/ghost_points_only_output2.txt
old_outputs/ghost_points_only_output.txt
old_outputs/for_enzyme_error_woutPVcall.txt
old_outputs/for_enzyme_error_woutautodiff.txt
old_outputs/for_enzyme_error_check.txt
old_outputs/for_enzyme_error.txt
old_outputs/for_billy.txt
old_outputs/error_withPVfunction_minimizing3.txt
old_outputs/error_withPVfunction_minimizing2.txt
old_outputs/error_withPVfunction_minimizing.txt
old_outputs/error_output_debugcode2.txt
old_outputs/error_output_debugcode.txt
old_outputs/error_output2.txt
old_outputs/error_output.txt
old_outputs/error_enzyme_folks_withPVfunction.txt
old_outputs/error_debugcode5_enzyme0116.txt
old_outputs/error_debugcode4_enzymemain.txt
old_outputs/error_debugcode3.txt
old_outputs/error_advection_coriolis_withoutautodiff.txt
old_outputs/error_advection_coriolis_only_withPVfunction.txt
old_outputs/error_advection_coriolis_only9.txt
old_outputs/error_advection_coriolis_only6.txt
old_outputs/error_advection_coriolis_only5.txt
old_outputs/error_advection_coriolis_only4.txt
old_outputs/error_advection_coriolis_only3.txt
old_outputs/error_advection_coriolis_only2.txt
old_outputs/error_advection_coriolis_only10.txt
old_outputs/error_advection_coriolis_only.txt
old_outputs/debug_output7.txt
old_outputs/debug_output6.txt
old_outputs/debug_output5.txt
old_outputs/debug_output4.txt
old_outputs/debug_output3.txt
old_outputs/debug_output2.txt
old_outputs/debug_output1.txt
old_outputs/debug_output.txt
old_outputs/debug_cp.txt
old_outputs/debug_090723_6.txt
old_outputs/debug_090723_5.txt
old_outputs/debug_090723_4.txt
old_outputs/debug_090723_3.txt
old_outputs/debug_090723_2.txt
old_outputs/debug_090723_1.txt
old_outputs/debug_090723.txt
old_outputs/debug_090623_3.txt
old_outputs/debug_090623_2.txt
old_outputs/debug_090623_1.txt
old_outputs/debug_090623.txt
old_outputs/advection_coriolis_only_output.txt
my_scripts/feedback_error.txt
